# Build output
build/

# CMake user-specific presets
CMakeUserPresets.json

*.ll
*.out
*.spv

# Compiled game binaries
games/mandelbrot

# Compiled test binaries
tests/required/*/main

node_modules
.cache