# Build output
build/

# CMake user-specific presets
CMakeUserPresets.json

*.ll
*.out
*.spv
*.debug_bin

# Compiled game binaries
tests/games/mandelbrot

# Compiled test binaries
tests/required/*/main

node_modules
.cache