#!/usr/bin/make -f

export CC := clang-20
export CXX := clang++-20
export DEB_BUILD_MAINT_OPTIONS := hardening=+all

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	./scripts/build_llvm.sh native
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DLLVM_DIR=$(CURDIR)/.cache/llvm-toolchain/native/install/lib/cmake/llvm

override_dh_auto_test:
