# This is a basic workflow to help you get started with Actions

  on:
    push:
      branches: [master]
  permissions:
    pages: write
    id-token: write
  jobs:
    deploy:
      runs-on: ubuntu-latest
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      steps:
        - uses: actions/checkout@v4
        - uses: actions/upload-pages-artifact@v3
          with:
            path: docs/presentation
        - id: deployment
          uses: actions/deploy-pages@v4
